#citations {
    text-align: right;
}
.subscript {
    font-size: x-small;
    color: gray;
    font-style: italic;
}
.bgimg-1, .bgimg-2, .bgimg-3 {
    min-height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.bgimg-1 {
    background-image: url("https://images.wallpapersden.com/image/download/high-tech-earth_bGdqZm6UmZqaraWkpJRobWllrWdma2U.jpg");
}
.bgimg-2 {
    background-image: url("https://wallpaperbat.com/img/80168-download-2560x1600-neon-light-cubes-system-tech-wallpaper.jpg");
}
.bgimg-3 {
    background-image: url("https://cdn.staticcrate.com/stock-hd/effects/footagecrate-4k-looping-tech-background-clean-red-2-prev-full.png");
}
body, html {
    height: 100%;
}
.caption {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 28px;
    letter-spacing: 10px;
    border-radius: 12px;
}